/*********************************************
 * NARROW LAYOUT (DEFAULT)
 *********************************************/

:root {
  --numsize: 120%;
  --bg: #FFF;
  --fg: #000;
  --hibg: #621360;
  --highlight: #d0c2d0;
  --border: #888;
  --border-disabled: #aaa;
  --corner: #621360;
  --trans: background 0.4s ease-in-out;
  --header-align: inherit;
  --wide-direction: column;
  --wide-align: center;
}

/*********************************************
 * WIDE LAYOUT
 *********************************************/

 @media screen and (min-width: 70rem) {
  :root {
    --header-align: center;
    --wide-direction: row;
    --wide-align: start;
  }
}

/*********************************************
 * DARK MODE
 *********************************************/

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #AAA;
    --hibg: #621360;
    --highlight: #000;
    --border: #888;
    --border-disabled: #444;
    --link: #996;
    --corner: #996;
  }

  a,
  a:visited,
  a:active {
    color: var(--link);
  }

}

/*********************************************
 * GENERAL LAYOUT
 *********************************************/

html {
  font-family: "Calibri", sans-serif;
  background: var(--bg);
  color: var(--fg);
}

main {
  max-width: 70em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: var(--wide-direction);
  align-items: var(--wide-align);
}

header {
  text-align: var(--header-align);
}

section {
  display: inline-block;
  width: 30rem;
}

/*********************************************
 * UP NUMBER INPUT
 Adapted from - https://uiverse.io/Satwinder04/pink-bat-77
 *********************************************/

#up-number-input{
  text-align: center;
}

.input-container input[type="text"] {
  font-size: 1.15em;
  text-align: center;
  justify-content: center;
  width: 120px;
  padding: 0.5em 0.7em;
  border: 1px solid #ccc;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
}

#display-text {
  font-weight: bold;
}

/*********************************************
 * RESULTS
 *********************************************/


#results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1em;
  width: 100%;
}

.module {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: .5rem;
}

.module>* {
  flex-grow: 0.33;
}

section input[type="number"]{
  text-align: center;
  justify-content: center;
  width: 1px;
  padding: 5px;
  border: 1px solid #ccc;
}

/*hvhvjhhj*/

section .range-input {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  margin: 0;
}

input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #AC51B5;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #65001C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #AC51B5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #AC51B5;
  border-radius: 50px;
}
input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #AC51B5;
  border-radius: 100px;
}

input[type=range]::-ms-fill-upper {
  background: #AC51B5;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  height: 17px;
  width: 17px;
  background: #65001C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #AC51B5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #AC51B5;
}


/*hvhvjhhj*/

input[type="number"]:disabled {
  color: gray;
}

.module output{
  text-align: center;
  justify-content: center;
  width: 1px;
  padding: 5px;
  border: 1px solid #ccc;
}

ul {
  padding: 0;
}



/* .module :first-child {
  flex-grow: 0;
  margin-right: .5rem;
} */

/* .module span {
  padding: 0.5ex 1ex;
} */


input {
  background: var(--bg);
  color: var(--fg);
  padding: 0.5ex 1ex;
  border: var(--border) solid 1px;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
}

input[disabled] {
  border-color: var(--border-disabled);
}

input::selection {
  background: var(--hibg);
  color: white;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
  font-size: var(--numsize);
  width: 4ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  outline: 0.25rem var(--hibg) solid;
}


#finalClassification,
#gpa,
#rules span {
  color: var(--hibg);
  font-weight: bold;
}


.lock-button {
  background-image: url("./img/unlock-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: flex; 
  height: flex; 
  border: none;
  cursor: pointer;
}

.lock-button.disabled {
  background-image: url("./img/lock-icon.png");
}

#ClearButtonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* following CSS is adapted from: https://uiverse.io/e-coders/nervous-chipmunk-49 */

#ClearButton,
#copy {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
  vertical-align: middle;
 }
 
 #ClearButton:hover {
  background-color: #F3F4F6;
  transition-duration: 0.1s;
 }
 
 #ClearButton:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
 }
 
 #ClearButton:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
 }
 
 #ClearButton:focus {
  outline: 1px transparent;
 }

 
/*********************************************
 * SHARE INDICATION
 *********************************************/

 #copyzone {
  display: flex;
}

#share {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em auto;
  width: 50vw;
  text-align: center;
}

#copyzone input {
  flex-grow: 1;
  margin-right: 1ch;
}

#share p {
  margin-top: 0;
}

#share input {
  font-size: 1rem;
}

#showingShared {
  flex-basis: 100%;
  text-align: center;
}


/*********************************************
 * CORNER SOURCE LINK
 *********************************************/

#source {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 10em;
  overflow: hidden;
}

#source a {
  font-weight: bold;
  display: block;
  background: var(--corner);
  padding: 3em 10em 1ex;
  color: var(--bg);
  transform: translateX(50%) rotate(45deg) scale(0.75);
  transform-origin: top center;
  text-decoration: none;
}

/*********************************************
 * THEME SWITCH CHECKBOX
 *********************************************/

 #theme-switch {
  display: none;
}

label[for="theme-switch"] {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
}

label[for="theme-switch"]:after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s;
}

#theme-switch:checked + label[for="theme-switch"] {
  background-color: #333;
}

#theme-switch:checked + label[for="theme-switch"]:after {
  left: 32px;
}

/*********************************************
 * RULE HIGHLIGHTING
 *********************************************/

[data-highlight]:hover,
.highlight {
  transition: var(--trans);
  background: var(--highlight);
}

[data-highlight] {
  transition: var(--trans);
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  border-radius: 0.5em;
}

dt {
  margin-left: -1em;
  padding: 1em 0 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  transition: var(--trans);
}

dd {
  margin-left: -1em;
  padding: 0 1em 1em 2em;
  border-radius: 0 0 0.5em 0.5em;
  transition: var(--trans);
}

#rule-explanation{
  width: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#rule-explanation a:link {
  color: #3366BB;
}