/*********************************************
 * NARROW LAYOUT (DEFAULT)
 *********************************************/

:root {
  --numsize: 120%;
  --bg: #FFF;
  --bgdark: #2b2c2c;
  --fg: #000;
  --hibg: #621360;
  --highlight: #d0c2d0;
  --border: #888;
  --border-disabled: #aaa;
  --corner: #621360;
  --trans: background 0.4s ease-in-out;
  --header-align: inherit;
  --wide-direction: column;
  --wide-align: center;
}

/*********************************************
 * WIDE LAYOUT
 *********************************************/

@media screen and (min-width: 70rem) {
  :root {
    --header-align: center;
    --wide-direction: row;
    --wide-align: start;
  }
}

/*********************************************
 * DARK MODE
 *********************************************/

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #AAA;
    --hibg: #621360;
    --highlight: #000;
    --border: #888;
    --border-disabled: #444;
    --link: #996;
    --corner: #996;
  }

  a,
  a:visited,
  a:active {
    color: var(--link);
  }

}

/*********************************************
 * GENERAL LAYOUT
 *********************************************/


 body {
  margin: 0 auto;
  max-width: 100%;
  font-family: "Calibri", sans-serif;
  background: var(--bg);
  color: var(--fg);
  transition: background-color 0.5s ease;
}

main {
  max-width: 85em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: var(--wide-direction);
  align-items: var(--wide-align);
}

#rule-explanation h2 {
  margin-bottom: 2rem;
}

#rule-explanation p {
  margin-bottom: 2rem;
}

header {
  text-align: var(--header-align);
}

section {
  display: inline-block;
  width: 30rem;
  border-radius: 25px;
}

/*********************************************
 * UP NUMBER INPUT
 Adapted from - https://uiverse.io/Satwinder04/pink-bat-77
 *********************************************/

#up-number-input {
  text-align: center;
  margin: 0 auto;
}

h4{
  text-align: center;
}

.input-container input[type="text"] {
 
  font-size: 1.15em;
  
  width: 120px;
  padding: 0.5em 0.7em;
  border: 1px solid #888;
  font-family: "Calibri", sans-serif;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#display-text {
  font-weight: bold;
}

input[type="text"] {
  border-radius: 25px;
  padding: 10px;
}

/*********************************************
 * RESULTS
 *********************************************/


#results {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1em;
  width: 100%;
}

.module {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: .5rem;
}

/* .module>* {
  flex-grow: 0.33;
} */

section input[type="number"] {
  text-align: center;
  justify-content: center;
  width: 50px;
  padding: 5px;
  border: 1px solid #888;
  margin-left: 5px;
  margin-right: 5px;
  right: 0;
  border-radius: 25px;
}



/*********************************************
 * RANGE SLIDERS STYLING
 *********************************************/

 /* Size of input  */
input[type=range] {
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  width: 90%;
  outline: none;
  overflow: hidden;
  border-radius: 15px;
}

/*  Grey Line range */ 
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: #cec4cf;
} 

/* Handler and purple trakcer */
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 17px;
  width: 17px;
  border-radius: 50px;
  background: #65001C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
  margin-left: -6px;
  box-shadow: -305px  5px 0 300px  #AC51B5;
}

/*********************************************
 * INPUT STYLING
 *********************************************/
input[type="number"]:disabled {
  color: gray;
}


.module output {
  text-align: center;
  justify-content: center;
  width: 1px;
  padding: 5px;
  border: 1px solid #ccc;
}

ul {
  padding: 0;
}



input, #final-grade-input  {
  background: var(--bg);
  color: var(--fg);
  padding: 0.5ex 1ex;
  font-family: "Calibri", sans-serif;
  font-size: 1rem;
}

input[type='text'] {
  border: var(--border) solid 1px;
  width: 100%;
}

#final-grade-input{
  border-radius: 25px;
  padding: 7px;
}

input[disabled] {
  border-color: var(--border-disabled);
}

input::selection {
  background: var(--hibg);
  color: white;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
  font-size: var(--numsize);
  width: 4ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#finalClassification,
#gpa,
#rules span {
  color: var(--hibg);
  font-weight: bold;
}

#filterSection {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1em;
  width: 100%;
}

#filterSection input[type="checkbox"] {
  display: block;
  margin: 0 auto;
  transform: scale(2);
}

/*********************************************
 * LOCKING BUTTONS
 *********************************************/

.inputheader {
  display: flex;
  justify-content: space-between;
}

.inputheader h2 {
  justify-self: flex-start;
}

.inputheader h3 {
  justify-self: flex-end;
}

input[type="checkbox"] {
  vertical-align: middle;
  transform: scale(2.7);
  margin-left: 10px;
  accent-color: #621360;
}

/* section input[type='checkbox'].disabled {
  margin: 1px;
} */


/*********************************************
* BUTTON STYLING,
adapted from: https://uiverse.io/e-coders/nervous-chipmunk-49
*********************************************/
#ClearButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#copy,
#ClearButtonUnlocked , button {
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;
  vertical-align: middle;
}

#copy,
#ClearButtonUnlocked:hover {
  background-color: #F3F4F6;
  transition-duration: 0.1s;
}

#ClearButtonUnlocked:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

#copy,
#ClearButtonUnlocked:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
}

#copy,
#ClearButtonUnlocked:focus {
  outline: 1px transparent;
}


/*********************************************
 * SHARE INDICATION
 *********************************************/

#copyzone {
  display: flex;
}

#share {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em auto;
  width: 50vw;
  text-align: center;
}

#copyzone input {
  flex-grow: 1;
  margin-right: 1ch;
}

#share p {
  margin-top: 0;
}

#share input {
  font-size: 1rem;
}

#showingShared {
  flex-basis: 100%;
  text-align: center;
}


/*********************************************
 * CORNER SOURCE LINK
 *********************************************/

#source {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 10em;
  overflow: hidden;
}

#source a {
  font-weight: bold;
  display: block;
  background: var(--corner);
  padding: 3em 10em 1ex;
  color: var(--bg);
  transform: translateX(50%) rotate(45deg) scale(0.75);
  transform-origin: top center;
  text-decoration: none;
}

/*********************************************
 * THEME SWITCH CHECKBOX
 *********************************************/

#theme-switch {
  display: none;
}

label[for="theme-switch"] {
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
}

label[for="theme-switch"]:after {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s;
}

#theme-switch:checked+label[for="theme-switch"] {
  background-color: #ccc;
}

#theme-switch:checked+label[for="theme-switch"]:after {
  left: 32px;
}

/*********************************************
 * RULE HIGHLIGHTING
 *********************************************/

[data-highlight]:hover,
.highlight {
  transition: var(--trans);
  background: var(--highlight);
}

[data-highlight] {
  transition: var(--trans);
  padding: 0.5em 1em;
  margin: -0.5em -1em;
  border-radius: 0.5em;
}

dt {
  margin-left: -1em;
  padding: 1em 0 0.5em 1em;
  border-radius: 0.5em 0.5em 0 0;
  transition: var(--trans);
}

dd {
  margin-left: -1em;
  padding: 0 1em 1em 2em;
  border-radius: 0 0 0.5em 0.5em;
  transition: var(--trans);
}

#rule-explanation {
  width: 100%;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#rule-explanation a:link {
  color: #2e7cff;
}

#rule-explanation a:visited {
  color: #6b8bc0;
}


/** Dark Mode ***/



/* Body when the user uses dark Mode.   */
.dark-mode {
  background-color: var(--bgdark);
  color: white;
  transition: background-color 0.5s ease;
}

.dark-mode input, .dark-mode #final-grade-input {
  background-color: #121212;
  color:white;
}

.dark-mode ::placeholder  {
  color: #d7d7d7;
  opacity: 1; /* FireFox */
}

.dark-mode :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d7d7d7;
}

.dark-mode ::-ms-input-placeholder { /* Microsoft Edge */
  color: #d7d7d7;
}
.dark-mode #finalClassification, 
.dark-mode #finalClassification,
.dark-mode #gpa,
.dark-mode #rules span {
  color:#ff88fb;
}

.dark-mode #rule-explanation a:link {
  color: #2e7cff;
}

.dark-mode #rule-explanation a:visited {
  color: #6b8bc0;
}
.dark-mode input[type="checkbox"] {
  accent-color: #dc40d8;
}
.dark-mode input[type=range]::-webkit-slider-thumb {
  background-color: #c30238;
  box-shadow: -305px  5px 0 300px #ff88fb;
}


